/* Color Theme Swatches in Hex */
.雨の後の虹-1-hex { color: #DFE2F2; }
.雨の後の虹-2-hex { color: #6F96E5; }
.雨の後の虹-3-hex { color: #F7E5D1; }
.雨の後の虹-4-hex { color: #9BD1F2; }
.雨の後の虹-5-hex { color: #E6C5D6; }
.雨の後の虹-6-hex { color: #3F85B2; }

/* Color Theme Swatches in RGBA */
.雨の後の虹-1-rgba { color: rgba(223, 226, 242, 1); }
.雨の後の虹-2-rgba { color: rgba(111, 150, 229, 1); }
.雨の後の虹-3-rgba { color: rgba(247, 229, 209, 1); }
.雨の後の虹-4-rgba { color: rgba(155, 209, 242, 1); }
.雨の後の虹-5-rgba { color: rgba(230, 197, 214, 1); }

/* Color Theme Swatches in HSLA */
.雨の後の虹-1-hsla { color: hsla(230, 42, 91, 1); }
.雨の後の虹-2-hsla { color: hsla(220, 69, 66, 1); }
.雨の後の虹-3-hsla { color: hsla(31, 70, 89, 1); }
.雨の後の虹-4-hsla { color: hsla(202, 76, 77, 1); }
.雨の後の虹-5-hsla { color: hsla(329, 39, 83, 1); }